
/*------------------------------------------------------------------
Project:       RoundPixel website
Author:       RoundPixel
URL:            
Created:      8-1-2020
-------------------------------------------------------------------*/

/* ======= Fonts  ======= */
/* @font-face {
	font-family: 'Frutigelight';
	src: local('☺'), url('../fonts/FrutigerArabic/FrutigerLTArabic-45Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal; 
} */


/* .light
{
  font-family: Frutigelight;
}

.regular
{
  font-family: Frutigeregular;
}
.meduim
{
  font-family: Frutigemeduim;
}
.bold
{
  font-family: Frutigebold;
} */

/* ======= Fonts  ======= */

/* ======= Colors ======= */

/* .wgrey {
    color: #fbfbfb;
}
.bg-wgrey {
    background-color: #fbfbfb;
}
.dgrey {
    color: #343434;
}
.bg-dgrey {
    background-color: #343434;
}
.bcr {
    color: #00AEEF;
}
.dbcr {
    color: #002152;
}
.bg-bcr {
    background-color: #00AEEF;
}

.bg-dbcr {
    background-color: #002152;
} */


/* ======= Colors ======= */

/* ======= Preloader ======= */


/* ======= Preloader ======= */


/* ======= General style ======= */


*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.container-fluid
{
    /*padding:0;*/
}

a {
    text-decoration: none;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    -ms-transition: all 300ms;
  }
  
  *:focus, *, *:active, a:focus, a:active, a {
    outline: 0 !important;
  }
  
  a:focus, a:hover {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  
  }
  
  h1 {
    font-size: 36px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  h3 {
    font-size: 24px;
  }
  
  h4 {
    font-size: 20px;
  }
  
  h5 {
    font-size: 18px;
  }
  
  h6 {
    font-size: 14px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.6;
  
  }

.row{
margin: 0;
}

/* ======= General style ======= */

/* ======= body  ======= */
/* ======= body  ======= */
/* ======= header  ======= */
.header
{
    padding: 5px ;
}

.top-header{
    padding: 15px 0px;
    background: #f2f2f2;
}
.top-header ul 
{
    margin-bottom: 0;
}
.top-header ul li
{
display: inline-block;

}

.contact-List i{
    color: #00a69c;
    font-size: 12px;
    display: inline-block;
    margin: 0 2px;

    
} 
ul.social-list li a {
    font-size: 12px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    display: inline-block;
    background: #424144;
    color: #e6e7e8;
}
header nav.navbar
{
    background: #e6e7e8;
    box-shadow: 0px 0px 10px 0px #d5d5d57a;
}
header .fixed-top {
    top: 52px;
}

header a.nav-link {
    color: #4d4d4f;
    font-weight: 500;
}
header a.nav-link.active {
    color: #00a69c;
}
button.navbar-toggler
{
    background: #424144;
    border-radius: 0;
    display: inline-block;
    padding: 10px;
    text-align: center;

}
button.navbar-toggler i{
    color: #00a69c;
   display: inline-block;
   width: 20px ;
   height: 20px;
   
}
#mainNav .navbar-toggler[aria-expanded="true"] i.fa-align-justify:before
{
   content:"\f00d";
}

/* ======= header  ======= */
/* ======= RoundCaption  ======= */

.RoundCaption{
  padding: 150px 20px;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.banner-center-box h1
{
  position: relative;
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  color: #48484a;
}
.banner-center-box h1 b{
  color: #00a69c;
  font-weight: bolder;
}
.RoundCaption .description
{
  color: #4d4d4f;
  font-size: 16px;
}
/* ======= RoundCaption  ======= */
/* ======= Title  ======= */ 
.title-sec{
  text-align: left;
position: relative;

}
.title-sec h2{
  text-transform: capitalize;
  color: #48484a;
  font-size: 40px;
  font-weight: 700;
}
.title-sec::after {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  left: 0;
  width: 40px;
  height: 3px;
  background: #00a69c;
  bottom: 0;
}
/* ======= Title  ======= */

/* ======= About  ======= */
.aboutR{
  padding: 100px 20px;
  background: #f2f2f2;
}

.about-txt{
  
}
/* ======= About  ======= */
/* ======= Products  ======= */
.services{
  background: white;
  padding: 100px 20px;
}
.services .nav {
  justify-content: center;
}
.services .nav-pills .nav-link {
  border-radius: .25rem;
  border: 1px solid #eeebeb;
  box-shadow: 0 2px 2px 0 rgba(5,35,49,.12), 0 0 2px 0 rgba(5,35,49,.14);
  border-radius: 2px;
  background-color: #fff;
  color: #48484a;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .nav-pills .nav-link:hover{
  box-shadow: 0 6px 10px 0 rgba(5,35,49,.14), 0 1px 18px 0 rgba(5,35,49,.12);
}
.services .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #48484a;
  background-color: #f2f4f4;;
}
.gap{
  position: relative;
    left: 18px;
    top: 35px;
}
.ma-top{
  margin-top: 15px;
}
.nav-tabs {
  border-bottom: 0px;
}
.services i {
  font-size: 30px;
    color: #00a69c;
}
/* ======= Products  ======= */
/* ======= clients  ======= */
/* ======= clients  ======= */
/* ======= contact  ======= */
/* ======= contact  ======= */

/* ======= footer  ======= */


/* ======= footer  ======= */


 












